#compare-panel {
    position: relative;
}

#compare-panel .compare-editor {
    height: 50%;
    box-shadow: 2px 2px 5px #888888;
}

#compare-panel .compare-status {

}

#compare-panel .cm-s-default {
    height: 100%;
}

#new-viewer-editor .cm-s-default {
    border-top: 1px dashed #ccc; 
}

/* Markers */
.added {
    background-color: #CEFCEA;
    padding: 2px 1px 2px 1px;
    width: 100%;
}
.added-chars {
    background-color: #87FED0;
    padding: 1px 1px 1px 1px;
}
.added-line {
    border-top: 1px solid #CEFCEA;
    padding: 2px 1px 2px 1px;
    width: 100%;
}
.removed {
    background-color: #FCCEDB;
    padding: 2px 1px 2px 1px;
    color: #000 ;
    width: 100%;
    border-bottom: 1px soild #ccc;
}
.removed-chars {
    background-color: #FF759C;
    padding: 1px 1px 1px 1px;
}
.added-line {
    border-top: 1px solid #FCCEDB;
    padding: 2px 1px 2px 1px;
    width: 100%;
}