#compare-panel {
    position: relative;
}

#compare-panel .compare-editor-horizontal {
    height: 50%;
}
#compare-panel .compare-editor-vertical {
    width: 50%;
    height: 100%;
    float: left;
}

.compare-panel .cm-s-default {
    height: 100%;
}

#new-viewer-editor-horizontal .cm-s-default {
    border-top: 1px dashed #888; 
}

/* Markers */
.added {
    background-color: #CEFCEA;
    padding: 2px 1px 2px 1px;
    width: 100%;
}
.added-chars {
    background-color: #45FDB7;
    padding: 1px 1px 1px 1px;
}
.added-line {
    border-top: 1px solid #45FDB7;
    padding: 2px 1px 2px 1px;
    width: 100%;
}
.removed {
    background-color: #FCCEDB;
    padding: 2px 1px 2px 1px;
    width: 100%;
}
.removed-chars {
    background-color: #FFAFC6;
    padding: 1px 1px 1px 1px;
}
.removed-line {
    border-top: 1px solid #FFAFC6;
    padding: 2px 1px 2px 1px;
    width: 100%;
}