#brackets-compare {
    min-height: 50%;
    border-top: 1px solid #ddd;
}
#brackets-compare #compare-header {
    padding: 6px;
    height: 16px;
}

.added {
    background-color: #99FFCC;
}
.removed {
    background-color: #FF99CC;
    border-radius: 3px;
}
.replaced {
    background-color: #FF9900;
    /*border-radius: 3px;*/
}