/*
* Brackets-compare
*
* Thanks to Glyphicons http://glyphicons.com/
*/

#compare-panel {
    position: relative;
}
#compare-panel .compare-editor-horizontal {
    height: 50%;
}
#compare-panel .compare-editor-vertical {
    width: 50%;
    height: 100%;
    float: left;
}
.compare-gutter {
  min-width: 15px;
}

.compare-panel .cm-s-light-theme {
    height: 100% !important;
}
.compare-panel .CodeMirror-wrap {
    height: 100% !important;
}

#new-viewer-editor-horizontal .CodeMirror-wrap {
    border-top: 1px solid #888;
}

/* Markers */
.added-light {
  background: #CEFCEA;
  padding: 2px 1px 2px 1px;
  opacity: 0.5%;
  width: 100%;
}

.added-dark {
  background: #2D3E2A;
  padding: 2px 1px 2px 1px;
  opacity: 0.5%;
  width: 100%;
}
/*.added-chars {
    background-color: #45FDB7;
    padding: 1px 1px 1px 1px;
}
.added-line {
    border-top: 1px solid #45FDB7;
    padding: 2px 1px 2px 1px;
    opacity: 0.5;
    width: 100%;
}*/
.removed-dark {
  background: #3A1E19;
  padding: 2px 1px 2px 1px;
  opacity: 0.5%;
  width: 100%;
}

.removed-light {
  background: #FCCEDB;
  padding: 2px 1px 2px 1px;
  opacity: 0.5%;
  width: 100%;
}

/*.removed-chars {
    background-color: #FFAFC6;
    padding: 1px 1px 1px 1px;
}
.removed-line {
    border-top: 1px solid #FFAFC6;
    padding: 2px 1px 2px 1px;
    opacity: 0.5%;
    width: 100%;
}*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
    url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-top: 3px;®
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-remove:before {
  content: "\e014";
}


.glyphicon-remove-sign:before {
  content: "\e083";
}

.glyphicon-hdd:before {
  content: "\e121";
}



